html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  @apply min-w-screen-sm min-h-[36rem];
}

#app {
  /* @apply bg-true-gray-50 dark:bg-gray-900; */
  @apply bg-gradient-to-br from-light-900 to-light-50;
  @apply dark:from-gray-900 dark:to-gray-600;
}
